html, body * { 
	box-sizing: border-box; 
	font-family: 'Open Sans', sans-serif; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.form-container {
  max-width: 400px; 
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.space {
	flex-grow: 1;
  visibility: hidden;
}